nav {
  background-color: #565264;
}

nav ul a {
  color: #D6CFCB;
}

#main-cover {
  background-image: url("../images/main-cover.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

#main-backdrop {
  background-color: #000;
  opacity: 0.6;
  position: absolute;
  width: 100%;
}

.content-container {
  max-width: 800px;
  margin: 0 auto;
}

.main-wrapper {
  position: relative;
  top: 28%;
  max-width: 600px;
}

#main-cover {
  color: #fff;
}

#main-cover hr {
  position: relative;
}

#main-cover h1 {
  margin-top: 0;
  font-weight: 100;
}

#main-cover h4 {
  margin-top: 1.68rem;
  font-weight: 100;
}

#main-cover hr:after {
  position: absolute;
  width: 11px;
  height: 11px;
  content: "";
  bottom: -5px;
  left: 50%;
  margin-left: -5px;
  background-color: #fff;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
}
